:root {
--h1: 40px;
--x: 20px;
--description: 20px;
--h2: 24px;
}

font-family: Italiana;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
text-transform: uppercase;