.accordion {
       width: 200px;
       overflow: hidden;
       border: 5px solid #dedede;
   }

   .accordion:hover .panel {
       max-height: 500px;
   }

   .panel {
       max-height: 0;
       overflow: hidden;
       transition: max-height 0.3s ease-out;
   }
.open {
    max-height: 500px;
}